/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
.header h3 > a {
    color: inherit;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1000px) {
    .container {
        max-width: 900px;
    }
}

/* Main marketing message and sign up button */
.jumbotron.head {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 30px;
}

.jumbotron.head h1 {
    font-size: 35px
}
.jumbotron.head p {
    font-size: 18px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron.head {
        border-bottom: 0;
    }
}

.blog.content .post.row {
    margin-bottom: 30px;
}

.pre {
    display: inline-block;
    white-space: pre;
}

code {
    white-space: pre-wrap;
}
