@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "@fontsource/shantell-sans";
  @import "@fontsource/shantell-sans/latin.css";
  @import "@fontsource/shantell-sans/cyrillic.css";
  @import "@fontsource/ubuntu-mono";

  html {
    @apply md:text-lg lg:text-xl xl:text-2xl;
  }

  html,
  body,
  #__next {
    @apply h-full;
  }

  body {
    @apply bg-white text-amber-950 dark:bg-amber-950 dark:text-amber-100;
  }

  #__next {
    @apply flex h-full flex-col gap-8 p-4;
  }

  #__next > main {
    @apply flex flex-grow flex-col gap-8;
  }

  a {
    @apply text-amber-500 underline hover:text-amber-600 hover:no-underline aria-[current=true]:no-underline;
  }

  ul {
    list-style: disc;
    padding-left: 1em;
  }
}

@layer components {
  .btn {
    @apply rounded-md bg-gray-100 p-1 text-gray-500 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
  }

  article p,
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    @apply mb-4;
  }

  article time {
    @apply opacity-50 dark:opacity-70;
  }

  article header h1 {
    @apply text-2xl font-bold;
  }

  article :not(pre) > code {
    background-color: rgb(255 217 64 / 18%);
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
  }

  article a[target="_blank"]::after {
    content: "↗";
    margin-left: 0.2em;
    font-size: 0.5em;
    vertical-align: bottom;
  }

  article img {
    @apply m-auto max-w-full lg:max-w-lg;
    border-radius: 10px;
  }

  article section {
    @apply m-auto w-full xl:w-2/3;
  }

  article #dzherela::after {
    content: ":";
  }

  article #dzherela + ul > li {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    list-style-position: inside;
  }
}

@import "./syntax-highliter.css";
