---
import {getEntry, render} from 'astro:content';
import Time from '@/components/Time';

interface Props {
  id: string;
}

const entry = await getEntry('articles', Astro.props.id);
if (!entry) {
  throw new Error('Could not find blog post.');
}

const {permalink, title, createdAt, description} = entry.data;
// const {Content, headings} = await render(entry);
---

<article>
  <h1>
    <a href={permalink}>{title}</a>
  </h1>
  <Time client:load value={createdAt} withDistance />
  <div class="overflow-hidden">
    <p>{description}</p>
  </div>
</article>
