<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="<%= META_THEME_COLOR %>" />
		<meta name="keywords" content="<%= META_KEYWORDS %>" />
		<meta name="description" content="<%= META_DESCRIPTION %>" />
		<meta name="author" content="<%= META_AUTHOR %>" />
		<link rel="icon" href="<%= APP_BASE_PATH %>favicon.ico" />
		<link rel="manifest" href="<%= APP_BASE_PATH %>manifest.json" />
		<title><%= META_TITLE %></title>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
	</body>
</html>
